.carbon-smartlink .link-config {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 1em;
  justify-content: space-between;
}

.carbon-smartlink button {
  flex: 0 0 auto;
}

.carbon-smartlink .link-config fieldset {
  margin-right: 3em;
}

.carbon-smartlink .link-config legend {
  font-size: 1.1em;
  margin-bottom: 0.75em;
}

.carbon-smartlink label input, .carbon-smartlink label div {
  font-weight: normal;
}